.contact-container {
  display: block;
  border-radius: 5px;
  margin: 75px auto;
  padding: 20px;
  max-width: 330px;
  background-color: rgba(93,85,250, 0.2);
}

.contact-title {
  display: inline-block;
}

.contact-title h2 {
  padding: 0 10px 0 0px;
  margin: 5px 0;
}

.contact-form {
  padding: 10px 10px 0 0;
}

input,
textarea {
		width: 100%;
		border: 5px solid #FFFFFF;
		border-radius: 5px;
		resize: none;
		padding: 0 5px;
		box-sizing: border-box;
		font-family: 'Open Sans' sans-serif;
		font-size: 18px;
		color: #243B53;
}

input[type="text"] {
  padding: 0;
  height: 40px;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

.contact-form-input {
  margin: 5px 0 10px 0;
}

.contact-form-textarea {
  margin: 5px 0;
  width: 100%;
  height: 100px;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: rgb(93,85,250);
  border: 0;
  color: #EFFCF6;
  border: 5px solid rgb(93,85,250);
  border-radius: 5px;
  margin: 10px 0 0 0;
  font-family: 'Open Sans' sans-serif;
  font-size: 22px;
}

input[type="submit"]:hover {
  cursor: pointer;
}